apiVersion: v1
items:
- kind: Secret
  apiVersion: "v1"
  metadata:
    name: 'shadowman-the-bot-secrets'
  stringData:
    database-name: 'shadowman'
    database-user: 'shadowman'
    database-password: 'shadowman'
    database-admin-password: 'shadowman'
    slack-client-id: '3213...'
    slack-client-secret: 'f8c...'
kind: List
metadata: []