apiVersion: v1
items:
- kind: Secret
  apiVersion: "v1"
  metadata:
    name: 'shadowman-the-bot-secrets'
  stringData:
    database-name: 'shadowman'
    database-user: 'shadowman'
    database-password: 'shadowman'
    database-admin-password: 'shadowman'
    slack-token: 'xxxx-1234...'
    bot-admins: 'dfdfdf'
    #slack-client-id: '1234...'
    #slack-client-secret: '1234...'
kind: List
metadata: []